{
  "rules": {
    "quotes": ["error", "single"],
    "object-curly-newline": "off",
    "comma-dangle": "off",
    "no-console": "error",
    "promise/always-return": "error",
    "promise/no-return-wrap": "error",
    "promise/param-names": "error",
    "promise/catch-or-return": "error",
    "promise/no-native": "off",
    "promise/no-nesting": "error",
    "promise/no-promise-in-callback": "error",
    "promise/no-return-in-finally": "error",
    "prefer-arrow-callback": "error",
    "no-underscore-dangle": 0,
    "max-len": [
      "error",
      {
        "code": 100,
        "ignoreUrls": true
      }
    ],
    "no-unused-vars": [
      "error",
      {
        "argsIgnorePattern": "next"
      }
    ],
    "no-use-before-define": [
      "error",
      {
        "variables": false
      }
    ],
    "no-multi-str": 0
  },
  "env": {
    "node": true,
    "mocha": true
  },
  "parserOptions": {
    "ecmaVersion": 8
  },
  "extends": ["airbnb-base"],
  "plugins": ["promise"]
}
