{
  "parser": "babel-eslint",
  "parserOptions": {
    "sourceType": "module",
    "allowImportExportEverywhere": false,
    "codeFrame": false
  },
  "extends": ["airbnb", "prettier", "prettier/react"],
  "rules": {
    "no-plusplus": "off",
    "react/forbid-prop-types": "off",
    "react/jsx-props-no-spreading": "off",
    "object-curly-newline": "off",
    "comma-dangle": "off",
    "no-console": "error",
    "prefer-arrow-callback": "error",
    "no-underscore-dangle": 0,
    "no-multi-str": 0,
    "eslint-disable-next-line no-use-before-define": "off",
    "no-unused-vars": [
      "error",
      {
        "argsIgnorePattern": "next"
      }
    ],
    "no-use-before-define": [
      "error",
      {
        "variables": false
      }
    ],
    "react/jsx-filename-extension": [
      1,
      {
        "extensions": [".js", ".jsx"]
      }
    ]
  },
  "plugins": ["prettier"],
  "env": {
    "node": true,
    "browser": true,
    "jest": true,
    "es6": true,
    "commonjs": true
  }
}
